# ESP-IDF build output
/build/
**/build/
*.bin
*.elf
*.map
*.log
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.swp
*.swo
*.swn
*.bak
*.tmp
*.old
*.orig
*.rej
*.out
*.o
*.a
*.d
*.so
*.exe
*.dll
*.dSYM/
*.DS_Store
*.vscode/
*.idea/
*.code-workspace
sdkconfig.old
sdkconfig
sdkconfig.*
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.ninja
*.lock
partition_table/
managed_components/
